* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.page {
  padding: 1rem;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color:white;

  & h2 {
    margin-bottom: 1rem;
  }

  & input {
    width: 12rem;
    padding: .3rem .5rem;
    border-radius: 15px;
    margin: .2rem 0;
  }

  & button {
    background-color: rgb(0, 0, 0);
    color: white;
    width: 12rem;
    padding: .3rem 1rem;
    border-radius: 15px;
    margin: 1rem 0;
    cursor: pointer;

    &:hover {
      background-color: rgb(35, 35, 35);
    }

    &:active {
      background-color: rgb(63, 63, 63);
    }
    
  }


  &.auth {
    justify-content: center;
    align-items: center;
  }
}

.message {
    margin: 1rem;
    padding: .5rem;
    background-color: rgb(255, 208, 208);
    border-radius: 15px;
  }

.modal {
  height: max-content;
  padding: 5rem;
  border: solid 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

.link {
  color: black;
}

.barraLateral {
  height: 100%;
  width: 18rem;
  display: flex;
  border-right: solid 2px;
  padding: 1rem;
  justify-content: space-between;
  flex-direction: column;
}

.userData {
  height: max-content;
  display: flex;
  flex-direction: column;
}